.video-preview {
    position: relative;
    width: 320px; /* Adjust width as needed */
    height: 240px; /* Adjust height as needed */
  }
  
  .video-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video fills the container */
  }

  .video-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .video-toggle {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  
  .video-screen {
    width: 90px;
    height: 120px;
    border: 1px solid #ccc;
    position: relative;
    margin: 0.4rem;
  }
  
  .video-feed {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  
  .text-area {
    position: relative;
    margin-top: 16px; /* Converted from 10px */
  }
  
  .text-input {
    width: calc(100% ); /* Adjusted width */
    height: 200px;
    margin-top: 30%;
    padding: 10px 20px; /* Added padding on both sides */
    border: none;
    border-radius: 5px;
    background-color: rgba(109, 108, 108, 0.5);
    color: #fff;
  }
  
  
  
  .copy-icon {
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding-right: 12px;
    cursor: pointer;
    color: #333;
  }
  
  